<ion-content [fullscreen]="true" class="ion-padding">
  <ion-icon
    style="color: red"
    class="back"
    name="arrow-back"
    routerLink="/doctor-dashboard"
  ></ion-icon>
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    class="ion-center-sm-down"
  >
    <ion-fab-button id="open-medication-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal
    [keepContentsMounted]="true"
    trigger="open-medication-modal"
    #modal
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="ion-text-center">Add Medication</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="resetForm(modal)">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form (ngSubmit)="addMedication(modal)">
          <ion-input
            [(ngModel)]="medicine.medicine_name"
            name="medicine_name"
            label="Medicine Name"
            labelPlacement="floating"
            type="text"
            fill="outline"
            class="top-margin"
            placeholder="Enter medicine name"
            style="color: black"
          ></ion-input>

          <ion-select
            [(ngModel)]="medicine.medicationType"
            name="medicationType"
            label="Medication Type"
            fill="outline"
            class="top-margin"
            labelPlacement="floating"
            style="color: black"
            placeholder="Select medication that apply"
          >
            <ion-select-option value="Medicine">Medicine</ion-select-option>
            <ion-select-option value="Pills">Pills</ion-select-option>
          </ion-select>

          <ion-input
            [(ngModel)]="medicine.price"
            name="price"
            label="Price"
            fill="outline"
            class="top-margin"
            labelPlacement="floating"
            style="color: black"
            placeholder="Enter medicine price"
          ></ion-input>

          <ion-textarea
            [(ngModel)]="medicine.description"
            name="description"
            label="Description"
            fill="outline"
            class="top-margin"
            labelPlacement="floating"
            style="color: black"
            autoGrow="true"
            placeholder="Enter medicine description"
          ></ion-textarea>

          <br />
          <ion-label
            label="Description"
            fill="outline"
            style="color: black"
            class="top-margin"
            labelPlacement="floating"
            >Medication Image</ion-label
          >
          <input
            type="file"
            style="color: black"
            (change)="onFileSelected($event)"
            accept="image/*"
          />

          <div class="top-margin" *ngIf="selectedImage">
            <img
              [src]="selectedImage"
              alt="Selected medication image"
              style="max-width: 100%; height: auto"
            />
          </div>
          <ion-button class="mycolor" type="submit" expand="block"
            >Submit</ion-button
          >
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
  <div
    *ngIf="medication.length > 0; else noMedicine"
    class="post-medicine"
    style="background-color: transparent"
  >
    <ion-card *ngFor="let medicine of medication" style="margin: 10px">
      <img [src]="medicine.imageUrl" alt="Medication Image" />
      <ion-card-header class="ion-text-center">
        <ion-card-title>{{ medicine.medicine_name }}</ion-card-title>
        <ion-card-subtitle>{{medicine.medicationType}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-label>M: {{medicine.price}}</ion-label> <br />
        {{ medicine.description }}
        <ion-item lines="none">
          <ion-button
            slot="start"
            color="custom"
            (click)="editMedicine(medicine, modal)"
            >Edit</ion-button
          >
          <ion-button
            fill="clear"
            slot="end"
            color="danger"
            (click)="deleteMedicine(medicine)"
            >Delete</ion-button
          >
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #noMedicine>
    <ion-card>
      <ion-card-content> No medicine available </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
