<ion-content [fullscreen]="true" class="ion-padding">
  <h2 style="color: #d73d3f">CareConnect</h2>
  <ion-img src="../../../../assets/images/medicoonnect-logo.png"></ion-img>
  <form [formGroup]="loginForm">
    <ion-input
      type="email"
      fill="outline"
      label="Email"
      labelPlacement="floating"
      class="top-margin"
      style="color: black"
      class="top-margin"
      formControlName="email"
    />
    <div
      *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
    >
      <span
        class="error-message"
        *ngIf="loginForm.get('email')?.errors?.['required']"
        >Email is required.</span
      >
      <span
        class="error-message"
        *ngIf="loginForm.get('email')?.errors?.['email']"
        >Invalid email format.</span
      >
    </div>
    <ion-input
      type="password"
      fill="outline"
      label="Password"
      labelPlacement="floating"
      style="color: black"
      class="top-margin"
      formControlName="password"
    />
    <div
      *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
    >
      <span
        class="error-message"
        *ngIf="loginForm.get('password')?.errors?.['required']"
        >Password is required.</span
      >
      <span
        class="error-message"
        *ngIf="loginForm.get('password')?.errors?.['minlength']"
        >Password must be at least 6 characters long.</span
      >
      <span
        class="error-message"
        *ngIf="loginForm.get('password')?.errors?.['pattern']"
        >Password must contain characters(- _ ! $).</span
      >
    </div>
    <ion-button
      class="ion-margin"
      expand="full"
      color="custom"
      (click)="login()"
      >Login</ion-button
    >
    <p>
      Don't have an account?
      <a href="/register">Create Account</a>
    </p>
  </form>
</ion-content>
