ion-content {
    --background:#fdfdfd ;
}
ion-segment-button {
    color: #d73d3f;
  }
ion-img{
    height: 150px;
    width: 150px;
    width: auto;
    margin: 10px auto; 
    display: block;
}

a {
    color: #d73d3f;
}
h2{
  text-align: center;
  margin-top: 0;
}

.top-margin {
    margin-top: 8px;
}
