ion-content {
    --background: #fdfdfd;
}

  ion-icon {
    color: #ffffff;
  }
 
  ion-card{
    --background: #fefefe;
    border-radius: 8px;
  }
  ion-card ion-item{
    --background: #fefefe;
  }
  ion-fab-button {
    --background: #d73d3f;
  }
  ion-card-title {
    color: #d73d3f;
  }
  
