<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header-container">
    <ion-button fill="clear" color="danger" routerLink="/patient-dashboard" class="back-button">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
    <h1>Events</h1>
  </div>  
  
  <div
  *ngIf="events.length > 0; else noEvents"
  class="upcoming-events"
  style="background-color: transparent"
>
  <ion-card *ngFor="let event of events" style="margin: 10px">
    <ion-card-header class="ion-text-center">
      <ion-card-title>{{ event.event_title }}</ion-card-title>
      <ion-card-subtitle>Host: {{event.host}}</ion-card-subtitle>
      <ion-card-subtitle>Posted by: {{event.authorName}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-content>
        <p><ion-icon name="time-outline"></ion-icon> {{ getFormattedDateTime(event.date_and_time).time }}</p>
        <p><ion-icon name="calendar-outline"></ion-icon> {{ getFormattedDateTime(event.date_and_time).date }}</p>
        <p><ion-icon name="location-outline"></ion-icon> {{ event.location }}</p>
        <p><ion-icon name="information-circle-outline"></ion-icon> {{ event.description }}</p>
      </ion-card-content>
    </ion-card-content>
  </ion-card>
</div>
  <ng-template #noEvents>

    <ion-card class="events-state-card">
      <ion-card-content>
        <ion-icon name="car-outline" class="events-state-icon"></ion-icon> 
        <p>No events available.</p> 
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>

