<ion-header>
  <ion-toolbar class="chats-toolbar">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="onBackButtonClick()"></ion-icon>
    </ion-buttons>
        <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="messages.length > 0; else loading">
    <ion-item *ngFor="let message of messages" lines="none" 
      [class.my-message]="message.userId === currentUserId" 
      [class.other-message]="message.userId !== currentUserId">
      <ion-label>
        <div class="message-bubble">
          <div *ngIf="message.userId !== currentUserId" class="message-name">
            {{ chatPartnerName }}
          </div>
          <div class="message-text" *ngIf="message.text">{{ message.text }}</div>
          <img *ngIf="message.imageUrl" [src]="message.imageUrl" class="message-image"/>
          <div class="message-time">{{ message.timestamp | date: 'shortTime' }}</div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #loading>
    <ion-spinner></ion-spinner>
    <p>Loading messages...</p>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="message-input-container">
      <div class="textarea-wrapper" *ngIf="!selectedFile">
        <ion-textarea 
          [(ngModel)]="newMessage" 
          placeholder="Type a message..." 
          autoGrow="true"
          rows="1"
          maxRows="4"
        ></ion-textarea>
      </div>
      
      <div *ngIf="selectedFile" class="image-preview-container">
        <img [src]="selectedFilePreview" class="image-preview" />
        <ion-button fill="clear" color="danger" (click)="clearSelectedFile()">
          <ion-icon name="close-circle"></ion-icon>
        </ion-button>
      </div>
    
      <div class="action-buttons">
        <ion-icon (click)="sendMessage()" name="send"></ion-icon>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" hidden #fileInput>
        <ion-icon (click)="fileInput.click()" name="image"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>