<ion-content [fullscreen]="true" class="ion-padding">
  <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <ion-avatar class="logo">
      <ion-img src="../../../../assets/images/medicoonnect-logo.png" />
    </ion-avatar>
  </div>
  <h6>Welcome, {{userName}}</h6>
  <ion-grid  class="ion-padding">
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card class="equal-height-card"  routerLink="/ambulance-requests">
          <ion-card-content  class="ion-text-center">
            <ion-icon name="car-outline" size="large"></ion-icon>
            <h2>Ambulance Requests</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card class="equal-height-card" routerLink="/basic-health-information" >
          <ion-card-content  class="ion-text-center">
            <ion-icon name="information-circle-outline" size="large"></ion-icon>
            <h2>Basic Information</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card class="equal-height-card"  routerLink="/add-medication">
          <ion-card-content  class="ion-text-center">
            <ion-icon name="medkit-outline" size="large"></ion-icon>
            <h2>Medication</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card class="equal-height-card"  routerLink="/users-feedback">
          <ion-card-content  class="ion-text-center">
            <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
            <h2>Feedback</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="upcoming-schedule">
    <div style="display: flex; align-items: center; justify-content: space-between">
      <h5>Upcoming Schedule</h5>
      <h5 style="color: brown" routerLink="/view-appointments">See All</h5>
    </div>

    <ion-card *ngIf="approvedAppointments.length > 0; else noUpcoming">
      <ion-card-content *ngFor="let appointment of approvedAppointments">
        <h6>{{ appointment.patientName }}</h6>
        <p><strong>Reason:</strong> {{ appointment.purpose }}</p>
        <p><strong>Date:</strong> {{ getFormattedDateTime(appointment.date_and_time).date }}</p>
        <p><strong>Time:</strong> {{ getFormattedDateTime(appointment.date_and_time).time }}</p>
      </ion-card-content>
    </ion-card>

    <ng-template #noUpcoming>
      <ion-card>
        <ion-card-content>
          <p>No upcoming appointments for today.</p>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </div>

  <div class="ambulance">
    <div
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <h5>Ambulance Requests</h5>
      <h5 style="color: brown" color="custom" routerLink="/ambulance-requests">
        See All
      </h5>
    </div>
    <ion-card>
      <ion-card-content>
        <h6>Name</h6>
        <p>Urgency</p>
        <p>Address</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openChat()">
      <ion-icon name="logo-wechat"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
