<ion-content [fullscreen]="true" class="ion-padding">
  <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <ion-avatar class="logo">
      <ion-img src="../../../../assets/images/medicoonnect-logo.png" />
    </ion-avatar>
  </div>
  <div style="display: flex; justify-content: space-between">
    <ion-button fill="clear" slot="start" color="custom">Welcome, {{userName}}</ion-button>
    <ion-button fill="clear" slot="end" color="danger"  routerLink="/notifications">
      <ion-icon color="custom" name="notifications"></ion-icon>
    </ion-button>
  </div>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card class="equal-height-card" routerLink="/health-information">
          <ion-card-content class="ion-text-center">
            <ion-icon name="information-circle-outline" size="large"></ion-icon>
            <h2>Basic Information</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card class="equal-height-card" routerLink="/medication">
          <ion-card-content class="ion-text-center">
            <ion-icon name="medkit-outline" size="large"></ion-icon>
            <h2>Medication</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card class="equal-height-card" routerLink="/upcoming-events">
          <ion-card-content class="ion-text-center">
            <ion-icon name="calendar-outline" size="large"></ion-icon>
            <h2>Events</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card class="equal-height-card" routerLink="/feedback">
          <ion-card-content class="ion-text-center">
            <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
            <h2>Feedback</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="upcoming-schedule">
    <div style="display: flex; align-items: center; justify-content: space-between">
      <h5>Upcoming Schedule</h5>
      <h5 style="color: #d73d3f" routerLink="/book-appointments">See All</h5>
    </div>

    <ion-card *ngIf="approvedAppointments.length > 0; else noUpcoming">
      <ion-card-content *ngFor="let appointment of approvedAppointments">
        <h6>{{ appointment.doctorName }}</h6>
        <p><strong>Reason:</strong> {{ appointment.purpose }}</p>
        <p><strong>Date:</strong> {{ getFormattedDateTime(appointment.date_and_time).date }}</p>
        <p><strong>Time:</strong> {{ getFormattedDateTime(appointment.date_and_time).time }}</p>
      </ion-card-content>
    </ion-card>

    <ng-template #noUpcoming>
      <ion-card>
        <ion-card-content>
          <p>No upcoming appointments for today.</p>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openChat()">
      <ion-icon name="logo-wechat"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
