ion-content {
  --background: #fdfdfd;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;

  h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #d73d3f;
  }
}


.appointments-container {
  display: grid;
  gap: 1rem;
}

.appointment-card, .doctor-card {
  --background: #fefefe;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  ion-card-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
  }

  ion-card-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
  }

  ion-card-subtitle {
    font-size: 1rem;
    color: #666;
  }

  ion-list{
    background: #fefefe;
  }
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: #fefefe;
    
    ion-icon {
      color: #d73d3f;
      margin-right: 1rem;
    }

    ion-label {
      h3 {
        font-size: 0.9rem;
        font-weight: 500;
        color: #333;
      }

      p {
        font-size: 1rem;
        color: #666;
      }
    }
  }
}

.doctor-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  ion-card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  ion-button {
    margin-top: auto;
  }
}

ion-avatar {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.no-appointments-card {
  text-align: center;
  padding: 2rem;
  background: #f5f5f5;

  .no-appointments-icon {
    font-size: 3rem;
    color: #d73d3f;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    color: #666;
  }
}

ion-modal {
  --background: #fefefe;
  
  ion-list{
    background: #fefefe;
  }
  ion-list-header {
    color: #d73d3f;
    text-align: center;
    font-size: 1rem;
    font-style: bold;
  }
  ion-header ion-toolbar {
    --background: #d73d3f;
    --color: #ffffff;
  }

  ion-content {
    --background: #fefefe;
  }

  form {
    padding: 1rem;
  }

  ion-item {
    --background: #f5f5f5;
    --border-color: #d1d1d1;
    margin-bottom: 1rem;
    color: #333;
  }

  ion-button[type="submit"] {
    margin-top: 1rem;
  }

  ion-radio-group {
    color: #333;
  }
}

ion-button {
  --background: #d73d3f;
  --color: #ffffff;
}

ion-badge {
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
}