<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header-container">
    <h1>Your Appointments</h1>
  </div>
  <div *ngIf="userAppointments.length > 0; else noAppointments" class="appointments-container">
    <ion-card *ngFor="let appointment of userAppointments" class="appointment-card">
      <ion-card-header>
        <ion-card-title>{{ appointment.doctorName }}</ion-card-title>
        <ion-card-subtitle>{{ appointment.specialty }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Date</h3>
              <p>{{ getFormattedDateTime(appointment.date_and_time).date }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="time-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Time</h3>
              <p>{{ getFormattedDateTime(appointment.date_and_time).time }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="medical-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Purpose</h3>
              <p>{{ appointment.purpose }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <div class="ion-text-center ion-margin-top">
          <ion-badge [color]="getAppointmentStatusColor(appointment.status)">
            {{ appointment.status | titlecase }}
          </ion-badge>
        </div>

        <div class="appointment-actions" *ngIf="appointment.status === 'completed'">
          <ion-button 
            expand="block" 
            fill="clear" 
            color="danger" 
            (click)="deleteCompletedAppointment(appointment)">
            <ion-icon name="trash" slot="start"></ion-icon>
            Delete Appointment
          </ion-button>
        </div>

        <div class="reminder-controls" *ngIf="appointment.status === 'approved'">
          <ion-button 
            expand="block" 
            fill="clear" 
            color="custom" 
            *ngIf="!appointment.hasReminder"
            (click)="openReminderModal(appointment)">
            <ion-icon name="alarm" slot="start"></ion-icon>
            Set Reminder
          </ion-button>
          
          <ion-button 
            expand="block" 
            fill="clear" 
            color="danger" 
            *ngIf="appointment.hasReminder"
            (click)="cancelReminder(appointment.id)">
            <ion-icon name="alarm-off" slot="start"></ion-icon>
            Cancel Reminder
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #noAppointments>
    <ion-card class="no-appointments-card">
      <ion-card-content>
        <ion-icon name="calendar-outline" class="no-appointments-icon"></ion-icon>
        <p>No Appointments available</p>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <div class="header-container">
    <h1 class="section-title">Available Doctors</h1>
  </div>  
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let doctor of doctors$ | async">
        <ion-card class="doctor-card" (click)="openDoctorDetails(doctor.id)">
          <ion-card-header>
            <ion-avatar>
              <img [src]="doctor.image || '../../../../assets/images/medicoonnect-logo.png'" [alt]="doctor.name" />
            </ion-avatar>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="danger">
              <h2>{{ doctor.name }}</h2>
            </ion-text>
            <ion-text color="medium">
              <p>{{ doctor.specialty }}</p>
            </ion-text>
            <ion-button expand="block" color="custom" (click)="openBookingModal(doctor); $event.stopPropagation()">
              Book Appointment
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Book Appointment</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="appointmentForm" (ngSubmit)="bookAppointment()">
          <ion-item style="color: black;" lines="none">
            <ion-label position="stacked">Doctor's Name</ion-label>
            <ion-input type="text" [value]="selectedDoctor?.name" readonly></ion-input>
          </ion-item>
          <ion-item style="color: black;" lines="none">
            <ion-label position="stacked">Doctor's Specialty</ion-label>
            <ion-input type="text" [value]="selectedDoctor?.specialty" readonly></ion-input>
          </ion-item>
          <ion-item style="color: black;" lines="none">
            <ion-label position="stacked">Date & Time</ion-label>
            <ion-datetime formControlName="date_and_time" displayFormat="MMM DD, YYYY HH:mm" placeholder="Select Date & Time"></ion-datetime>
          </ion-item>
          <ion-item style="color: black;" lines="none">
            <ion-label position="stacked">Purpose</ion-label>
            <ion-textarea formControlName="purpose" rows="3"></ion-textarea>
          </ion-item>
          <ion-button expand="block" type="submit" [disabled]="!appointmentForm.valid">Book Appointment</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #reminderModal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Set Appointment Reminder</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="dismissReminderModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding">
        <form [formGroup]="reminderForm" (ngSubmit)="setAppointmentReminder()">
          <ion-list lines="none">
            <ion-radio-group formControlName="reminderTime">
              <ion-list-header>
                <ion-label>Remind me before the appointment</ion-label>
              </ion-list-header>
              
              <ion-item>
                <ion-label>5 minutes</ion-label>
                <ion-radio slot="end" value="5"></ion-radio>
              </ion-item>
              
              <ion-item>
                <ion-label>15 minutes</ion-label>
                <ion-radio slot="end" value="15"></ion-radio>
              </ion-item>
              
              <ion-item>
                <ion-label>30 minutes</ion-label>
                <ion-radio slot="end" value="30"></ion-radio>
              </ion-item>
              
              <ion-item>
                <ion-label>1 hour</ion-label>
                <ion-radio slot="end" value="60"></ion-radio>
              </ion-item>
              
              <ion-item>
                <ion-label>2 hours</ion-label>
                <ion-radio slot="end" value="120"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
  
          <div class="ion-padding">
            <ion-button 
              expand="block" 
              type="submit" 
              [disabled]="!reminderForm.valid">
              Set Reminder
            </ion-button>
          </div>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>