<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="patient-dashboard">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="book-appointments">
      <ion-icon name="timer"></ion-icon>
      Appoitments
    </ion-tab-button>
    <ion-tab-button tab="ambulance">
      <ion-icon name="calendar"></ion-icon>
      Ambulance
    </ion-tab-button>
    <ion-tab-button tab="patient-profile">
      <ion-icon name="person"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>