<ion-content [fullscreen]="true" class="ion-padding">
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    class="ion-center-sm-down"
  >
    <ion-fab-button id="open-events-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [keepContentsMounted]="true" trigger="open-events-modal" #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="ion-text-center">POST EVENT</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="resetEventForm(modal)">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form (ngSubmit)="addEvent(modal)">
          <ion-input
            [(ngModel)]="event.event_title"
            name="event_title"
            label="Title"
            label-placement="floating"
            fill="outline"
            type="text"
            placeholder="Enter event title"
            class="top-margin"
            style="color: black"
          ></ion-input>

          <ion-input
            [(ngModel)]="event.host"
            name="host"
            label="Host"
            labelPlacement="floating"
            type="text"
            fill="outline"
            placeholder="Enter host name"
            class="top-margin"
            style="color: black"
          ></ion-input>

          <ion-textarea
            [(ngModel)]="event.description"
            name="description"
            label="Description"
            fill="outline"
            labelPlacement="floating"
            placeholder="Enter event description"
            class="top-margin"
            style="color: black"
          ></ion-textarea>

          <ion-input
            [(ngModel)]="event.location"
            name="location"
            label="Location"
            labelPlacement="floating"
            type="text"
            fill="outline"
            placeholder="Enter event location"
            class="top-margin"
            style="color: black"
          ></ion-input>

          <ion-datetime
            [(ngModel)]="event.date_and_time"
            name="date_and_time"
            fill="outline"
            displayFormat="MMM DD, YYYY HH:mm"
            placeholder="Select Date & Time"
            class="top-margin"
            style="color: rgb(204, 204, 204)"
          ></ion-datetime>

          <br />
          <ion-button class="mycolor" type="submit" expand="block"
            >SUBMIT</ion-button
          >
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
  <div
    *ngIf="events.length > 0; else noEvents"
    class="upcoming-events"
    style="background-color: transparent"
  >
    <ion-card
      *ngFor="let event of events"
      class="white-card"
      style="margin: 10px; position: relative"
    >
    <ion-card-header class="ion-text-center">
      <ion-card-title>{{ event.event_title }}</ion-card-title>
        <ion-card-subtitle>Host: {{event.host}}</ion-card-subtitle>
        <ion-card-subtitle>Posted by: {{event.authorName}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Time: {{ getFormattedDateTime(event.date_and_time).time }}</p>
        <p>Date: {{ getFormattedDateTime(event.date_and_time).date }}</p>
        <p>Location: {{ event.location }}</p>
        <p>{{ event.description }}</p>

      </ion-card-content>
      <ion-item lines="none">
        <ion-button
          fill="outline"
          color="custom"
          (click)="editEvent(event, modal)"
          style="left: 10px"
        >
          Edit
        </ion-button>
        <ion-button
          slot="end"
          color="custom"
          (click)="deletePostedEvent(event)"
          >
          Delete
        </ion-button>
      </ion-item>
    </ion-card>
  </div>
  <ng-template #noEvents>
    <ion-card>
      <ion-card-content>
        No events available
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
