<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header-container">
    <ion-button fill="clear" class="back-button" routerLink="/doctor-dashboard">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
    <h1>Events</h1>
  </div>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="ion-center-sm-down">
    <ion-fab-button id="open-events-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [keepContentsMounted]="true" trigger="open-events-modal" #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title class="ion-text-center">POST EVENT</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="resetEventForm(modal)">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form (ngSubmit)="addEvent(modal)">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input [(ngModel)]="event.event_title" name="event_title" type="text" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Host</ion-label>
            <ion-input [(ngModel)]="event.host" name="host" type="text" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea [(ngModel)]="event.description" name="description" rows="3" required></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Location</ion-label>
            <ion-input [(ngModel)]="event.location" name="location" type="text" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Date & Time</ion-label>
            <ion-datetime [(ngModel)]="event.date_and_time" name="date_and_time" displayFormat="MMM DD, YYYY HH:mm" required></ion-datetime>
          </ion-item>

          <ion-button expand="block" type="submit" class="ion-margin-top">SUBMIT</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <div *ngIf="events.length > 0; else noEvents" class="upcoming-events">
    <ion-card *ngFor="let event of events" class="event-card">
      <ion-card-header>
        <ion-card-title>{{ event.event_title }}</ion-card-title>
        <ion-card-subtitle>Host: {{ event.host }}</ion-card-subtitle>
        <ion-card-subtitle>Posted by: {{ event.authorName }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><ion-icon name="time-outline"></ion-icon> {{ getFormattedDateTime(event.date_and_time).time }}</p>
        <p><ion-icon name="calendar-outline"></ion-icon> {{ getFormattedDateTime(event.date_and_time).date }}</p>
        <p><ion-icon name="location-outline"></ion-icon> {{ event.location }}</p>
        <p><ion-icon name="information-circle-outline"></ion-icon> {{ event.description }}</p>
      </ion-card-content>
      <ion-item lines="none">
        <ion-button fill="clear" (click)="editEvent(event, modal)">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Edit
        </ion-button>
        <ion-button fill="clear" slot="end" (click)="deletePostedEvent(event)">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Delete
        </ion-button>
      </ion-item>
    </ion-card>
  </div>
  
  <ng-template #noEvents>
    <ion-card class="empty-state">
      <ion-card-content >
        <ion-icon name="calendar-outline" class="empty-state-icon"></ion-icon>
        <p>No events available</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>