<ion-content [fullscreen]="true" class="ion-padding">\
  <div style="display: flex; align-items: center; justify-content: space-between">
    <h5> User Profile</h5>
    <ion-button fill="clear" lines="none" color="custom" (click)="logout()">
      <ion-icon  color="custom" slot="start" name="log-out-outline"></ion-icon>
      <ion-label >Log out</ion-label>
    </ion-button>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">{{ currentUser?.name }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Email: {{ currentUser?.email }}</p>
      <p>Address: {{ currentUser?.address }}</p>
      <p>Gender: {{ currentUser?.gender }}</p>
      <p>Phone Number: {{ currentUser?.phoneNumber }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>