<ion-content [fullscreen]="true" class="ion-padding">

  <div class="header-container">
    <ion-button fill="clear" class="back-button" routerLink="/doctor-dashboard">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
    <h1>Health Information</h1>
  </div>

  <ion-fab
  slot="fixed"
  vertical="bottom"
  horizontal="end"
  class="ion-center-sm-down"
  >
  <ion-fab-button id="open-healthInformaition-modal">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal [keepContentsMounted]="true" trigger="open-healthInformaition-modal" #modal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center">POST DISEASE</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="resetDisease(modal)">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form (ngSubmit)="addDisease(modal)">
        <ion-input
          [(ngModel)]="disease.disease_name"
          name="disease_name"
          label="Disease Name"
          labelPlacement="floating"
          fill="outline"
          type="text"
          class="top-margin"
          placeholder="Enter disease name"
          style="color: black"
          ></ion-input>
          
          <ion-textarea
          [(ngModel)]="disease.description"
          name="description"
          label="Description"
          labelPlacement="floating"
          fill="outline"
          class="top-margin"
          style="color: black"
          placeholder="Enter description"
          autoGrow="true"
          ></ion-textarea>
          
          <ion-textarea
          [(ngModel)]="disease.symptoms"
          name="symptoms"
          label="Symptoms"
          labelPlacement="floating"
          fill="outline"
          class="top-margin"
          style="color: black"
          autoGrow="true"
          placeholder="Enter description"
          ></ion-textarea>
          
          <ion-textarea
          [(ngModel)]="disease.treatment"
          name="treatment"
          label="Treatment"
          labelPlacement="floating"
          fill="outline"
          class="top-margin"
          style="color: black"
          placeholder="Enter description"
          autoGrow="true"
        ></ion-textarea>
        
          <ion-button class="mycolor" type="submit" expand="block"
          >SUBMIT</ion-button
          >
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
<div
*ngIf="diseases.length > 0; else noDiseases" 
class="post-diseases"
style="background-color: transparent"
>
<ion-card *ngFor="let disease of diseases"  style="margin: 10px">
  <ion-card-header class="ion-text-center">
    <ion-card-title>{{ disease.disease_name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="top">
    <p>{{ disease.description }}</p>
    <p><strong>Symptoms:</strong>  {{disease.symptoms}}</p>
    <p><strong>Treatment:</strong> {{disease.treatment}}</p>
  </ion-card-content>
  <ion-item lines="none">
    <ion-button
    slot="start"
    color="custom"
    (click)="editDisease(disease, modal)"
    >Edit</ion-button
    >
    <ion-button
      fill="clear"
      slot="end"
      color="danger"
      (click)="deleteDisease(disease)"
      >Delete</ion-button
      >
    </ion-item>
</ion-card>
</div>
<ng-template #noDiseases>
  <ion-card class="no-health-information-card">
    <ion-card-content>
      <ion-icon name="information-circle-outline" class="no-health-information-icon"></ion-icon>
      <p>No Health Information available</p>
    </ion-card-content>
  </ion-card>
 
</ng-template>
</ion-content>