<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="doctor-dashboard">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="view-appointments">
      <ion-icon name="timer"></ion-icon>
      Schedule
    </ion-tab-button>
    <ion-tab-button tab="events">
      <ion-icon name="calendar"></ion-icon>
      Events
    </ion-tab-button>
    <ion-tab-button tab="doc-profile">
      <ion-icon name="person"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>