ion-content {
  --background: #fdfdfd;
}

ion-icon {
  color: #ffffff;
}

ion-card {
  --background: #fefefe;
  border-radius: 8px;
}
ion-card ion-item {
  --background: #fefefe;
}

h3,
h2,
ion-icon,
ion-spinner {
  color: #d73d3f;
}
