<ion-content [fullscreen]="true" class="ion-padding">
  <ion-icon
    style="color: red"
    class="back"
    name="arrow-back"
    routerLink="/doctor-dashboard"
  ></ion-icon>

  <div *ngIf="requests.length > 0; else noAmbulanceRequests" class="ambulanceRequests">
    <ion-card
      *ngFor="let ambulance of requests"
      class="white-card"
      style="margin: 10px; position: relative"
    >
      <ion-card-header class="ion-text-center">
        <ion-card-subtitle>{{ambulance.patientName}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Urgency:</strong> {{ambulance.urgency}}</p>
        <p><strong>Location:</strong> {{ambulance.patientAddress}}</p>
        <p><strong>Phone Number:</strong> {{ambulance.patientPhoneNumber}}</p>
        <p class="top-margin">{{ambulance.description}}</p>
        <p><strong>Status:</strong> 
          <span *ngIf="ambulance.status === 'approved'" style="color: green">Approved</span>
          <span *ngIf="ambulance.status === 'pending'" style="color: orange">Pending</span>
          <span *ngIf="ambulance.status === 'rejected'" style="color: red">Rejected</span>
        </p>

        <ion-button color="success" (click)="respondToRequest(ambulance.id, 'approved')">Accept</ion-button>
        <ion-button color="danger" (click)="respondToRequest(ambulance.id, 'rejected')">Reject</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #noAmbulanceRequests>
    <ion-card>
      <ion-card-content>No Ambulance Requests available.</ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
