<ion-content [fullscreen]="true" class="ion-padding">
  <div class="upcoming-schedul">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Name</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Reason for Appointment</p>
        <p>Date booked</p>
      </ion-card-content>
      <ion-item lines="none">
        <ion-button color="custom" >Approve</ion-button>
        <ion-button slot="end" color="custom" >Reject</ion-button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
