<ion-content [fullscreen]="true" class="ion-padding">
  <ion-icon
    style="color: brown"
    class="back"
    name="arrow-back"
    routerLink="/doctor-dashboard"
  ></ion-icon>

  <div *ngIf="feedback.length > 0; else noFeedback">
    <ion-card *ngFor="let userFeedback of feedback">
      <ion-card-header>
        <ion-card-title>{{userFeedback.name}}</ion-card-title>
        <ion-card-subtitle>{{userFeedback.email}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Feedback Type: {{userFeedback.feedBackType}}</p>
        <p>Message: {{userFeedback.message}} </p>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #noFeedback>
    <ion-card>
      <ion-card-content>
        <p>No feedback available</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
