<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header-container">
    <ion-button fill="clear" color="danger" routerLink="/patient-dashboard" class="back-button">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
    <h1>Basic Information</h1>
  </div>
  <div
    *ngIf="diseases.length > 0; else noDiseases"
    class="post-diseases"
    style="background-color: transparent"
  >
    <ion-card *ngFor="let disease of diseases" style="margin: 10px">
      <ion-card-header class="ion-text-center">
        <ion-card-title>{{ disease.disease_name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="top">
        <p>{{ disease.description }}</p>
        <p><strong>Symptoms:</strong> {{disease.symptoms}}</p>
        <p><strong>Treatment:</strong> {{disease.treatment}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #noDiseases>
    <ion-card class="health-information-state-card">
      <ion-card-content> 
        <ion-icon name="information-circle-outline" class="health-information-state-icon"></ion-icon>
       <p>No Diseases available</p> 
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
